<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Create a new post </title>
  </head>
  <body>
    <form action="/posts" method="post">
      <h2>Post Name:</h2>
      <input type="text" name="name">
      <h2>Post Content:</h2>
      <input type="text" name="content">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
