<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Posts</title>
  </head>
  <body>
    <%@posts.each do |ind_post|%>
    <%=ind_post.name%>
    <%=ind_post.content%>
    <%end%>


  </body>
</html>
